@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-primary: #4502c7;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Lexend Deca", sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

/* Container */
.container {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}

/* Top Header */
.top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px 40px;
}

.top-header .inner-wrapper .inner-item {
  display: inline-flex;
  align-items: center;
  gap: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fffbeb;
}

.top-header .inner-wrapper .inner-item i {
  font-size: 20px;
}

@media (max-width: 767.98px) {
  .top-header {
    display: none;
  }
}
