@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

:root {
  --color-primary: #4502c7;
}

/* Reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Lexend Deca", sans-serif;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

/* Container */
.container {
  max-width: 1184px;
  margin: 0 auto;
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}

/* Top Header */
.top-header {
  background-color: var(--color-primary);
  padding: 10px 0;
}

.top-header .inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px 40px;
}

.top-header .inner-wrapper .inner-item {
  display: inline-flex;
  align-items: center;
  gap: 5px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fffbeb;
}

.top-header .inner-wrapper .inner-item i {
  font-size: 20px;
}

@media (max-width: 767.98px) {
  .top-header {
    display: none;
  }
}

/* Header */
.header {
  background-color: #fff;
  padding: 12px 0;
}

.header .inner-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .inner-wrapper .inner-menu-mobile {
  display: none;
}

.header .inner-wrapper .inner-logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header .inner-wrapper .inner-logo img {
  width: auto;
  height: 50px;
}

.header .inner-wrapper .inner-logo p {
  color: var(--color-primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.header .inner-wrapper .inner-menu {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  line-height: 25px;
}

.header .inner-wrapper .inner-menu .inner-item {
  transition: all 0.5s ease;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
  align-self: stretch;
  position: relative;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown i {
  font-size: 12px;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown ul {
  padding: 8px 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 0 10px 10px;
  background: #fff;
  width: 280px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999;
  display: none;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown:hover ul {
  display: block;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown ul li {
  width: 100%;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown ul li a {
  display: inline-block;
  width: 100%;
  padding: 8px 22px;
  color: var(--color-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
}

.header .inner-wrapper .inner-menu .inner-item.dropdown ul li:hover a {
  background-color: var(--color-primary);
  color: #fff;
  transition: all 0.6s ease;
}

.header .inner-wrapper .inner-menu .inner-item:hover {
  color: var(--color-primary);
}

.header .inner-wrapper .inner-menu a {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-transform: capitalize;
}

.header .inner-wrapper .inner-menu a.active {
  color: var(--color-primary);
}

.header .inner-wrapper .inner-cart a {
  display: flex;
  align-items: center;
}

.header .inner-wrapper .inner-cart i {
  font-size: 26px;
  color: var(--color-primary);
}

.header .inner-wrapper .inner-cart span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: #ff3904;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.08);
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  padding: 1px 5px;
  position: relative;
}

.header .inner-wrapper .inner-cart span::before {
  position: absolute;
  top: 3px;
  left: -4px;
  content: "";
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 4px solid #ff3904;
}

@media (max-width: 1199.98px) {
  .header .inner-wrapper .inner-menu > ul {
    gap: 5px 24px;
  }
}

@media (max-width: 991.98px) {
  .header .inner-wrapper .inner-menu-mobile {
    display: inline-block;
    cursor: pointer;
  }

  .header .inner-wrapper .inner-menu-mobile i {
    font-size: 22px;
    color: #25282b;
  }

  .header .inner-wrapper .inner-menu {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .header .inner-wrapper .inner-logo img {
    width: auto;
    height: 40px;
  }

  .header .inner-wrapper .inner-logo p {
    font-size: 20px;
  }
}

/* Tour Booking */
.tour-booking {
  padding: 106px 0;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.tour-booking .inner-wrapper {
  width: 768px;
  margin: 0 auto;
}

.tour-booking .inner-wrapper .inner-title {
  color: var(--color-primary);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.796px;
  margin-bottom: 20px;
}

.tour-booking .inner-wrapper .inner-description {
  color: #25282b;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 30px;
  padding: 0 15px;
}

.tour-booking .inner-wrapper .inner-form {
  border-radius: 10px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}

.tour-booking .inner-wrapper .inner-form .inner-box.inner-address {
  width: 100%;
}

.tour-booking .inner-wrapper .inner-form .inner-box.inner-user,
.tour-booking .inner-wrapper .inner-form .inner-box.inner-calendar {
  width: 37.5%;
}

.tour-booking .inner-wrapper .inner-form .inner-button {
  flex: 1;
  border-radius: 10px;
  background: var(--color-primary);
  box-shadow: 0 3.298px 3.298px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  color: #fff;
  display: flex;
  padding: 12px 17px;
  align-items: center;
  font-size: 13.318px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.tour-booking .inner-wrapper .inner-form .inner-button img {
  height: 20px;
  width: auto;
  margin-right: 11px;
}

.tour-booking .inner-wrapper .inner-form .inner-box .inner-input-group {
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 20px 12px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-icon {
  height: 20px;
  width: auto;
  margin-right: 14px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-input {
  outline: none;
  border: none;
  flex: 1;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.596px;
}

.tour-booking
  .inner-wrapper
  .inner-form
  .inner-box
  .inner-input-group
  .inner-input::placeholder {
  color: #a6a6a6;
}

.tour-booking .inner-wrapper .inner-form .inner-box .inner-input-group i {
  font-size: 12px;
  color: var(--color-primary);
}

@media (max-width: 991.98px) {
  .tour-booking .inner-wrapper {
    width: 100%;
  }

  .tour-booking .inner-wrapper .inner-title {
    font-size: 32px;
  }

  .tour-booking .inner-wrapper .inner-description {
    font-size: 14px;
  }

  .tour-booking .inner-wrapper .inner-form {
    padding: 30px;
    gap: 15px;
  }
}

@media (max-width: 767.98px) {
  .tour-booking .inner-wrapper .inner-title {
    font-size: 27px;
  }

  .tour-booking .inner-wrapper .inner-form {
    padding: 15px;
    gap: 12px;
  }

  .tour-booking .inner-wrapper .inner-form .inner-box.inner-user,
  .tour-booking .inner-wrapper .inner-form .inner-box.inner-calendar {
    width: 100%;
  }

  .tour-booking .inner-wrapper .inner-form .inner-button {
    height: 60px;
  }
}
